.accordion-toggle {
  background-color: #f1f1f1;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

.accordion-content {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  margin-bottom: 10px;
}

body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark-mode a {
  color: #80d0ff;
}

body.dark-mode .accordion-toggle {
  background-color: #333;
  color: #f1f1f1;
}

body.dark-mode .accordion-content {
  background-color: #222;
  border-color: #444;
}
